{if $layer == false}
<!-- /.content-wrapper -->
<footer class="main-footer text-center">
    <strong>Copyright &copy; 2019-{:date("Y")} <a href="https://harmony_cms.ok5168.com"
                                                  target="_blank">HarmonyCMS</a></strong>
    All rights reserved.
</footer>
{/if}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<button id="totop" title="返回顶部" style="display: none;"><i class="fa fa-chevron-up"></i></button>
{include file="public/foot_css_js" /}
</body>
</html>